body
    font-family:'Microsoft YaHei', Arial, Helvetica, sans-serif
    font-size: 16px
    color: #333
a 
    text-decoration: none
button 
    outline: none
    border: none
h1,h2,h3,h4,h5,p,div,span 
    line-height: 1    
    margin: 0
    padding: 0
    border: none
    list-style: none
    box-sizing: border-box
