border-1px($color) 
  position relative
  &:after
    content ''
    display block
    position absolute
    left 0
    bottom 0
    width 100%
    border-top 1px solid $color
 
border-none()  
  &:after
    display none 
borderTop-1px($color) 
  position relative
  &:after
    content ''
    display block
    position absolute
    left 0
    top 0
    width 100%
    border-top 1px solid $color
  // 图片适配，注意在写图片路径的时候不能有空格 
bg-image($url)
  background: url($url+"@2x.png")
  background-size: 100% auto
  background-repeat: no-repeat 
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3)
    background: url($url+"@3x.png")

bg($color)
  background: $color
  